@model Meetings.Models.Pracownik

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pracownicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImiePracownika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImiePracownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwiskoPracownika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwiskoPracownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stanowisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haslo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDzialuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDzialuNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFiliiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFiliiNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
